.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-blue);
  padding: 1.6rem;
  overflow: hidden;
  transition: 0.3s;
}

.Advice {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 332px;
  max-width: 540px;
  width: 100%;
  background-color: var(--dark-grayish-blue);
  border-radius: 1.5rem;
  padding: 2.4rem;
  position: relative;
}

.Advice button {
  position: absolute;
  bottom: -9%;
  z-index: 100;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: var(--neon-green);
  cursor: pointer;
  transition: 0.3s;
}

.Advice button:hover {
  box-shadow: 0px 0px 40px var(--neon-green);
}

.AdviceContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.AdviceQuoteTitle {
  color: var(--neon-green);
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  line-height: 133.1%;
  text-transform: uppercase;
  letter-spacing: 0.24em;
}

.AdviceQuote {
  color: var(--light-cyan);
  font-size: var(--quote-size);
  font-size: 2.8rem;
  text-align: center;
  min-height: 180px;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

.AdviceDivider {
  margin-bottom: 4.2rem;
}

.dev {
  position: absolute;
  bottom: 2%;
  color: var(--neon-green);
  font-size: 1.6rem;
}

.dev a:hover {
  color: var(--light-cyan);
}

@media (max-width: 750px) {
  .Main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1.6rem;
  }

  .Advice {
    min-height: 316px;
    width: 100%;
  }

  .AdviceQuote {
    line-height: 34px;
    font-size: 2.5rem;
  }

  .AdviceDivider {
    width: 100%;
  }
}
